USE [master]
GO
/****** Object:  Database [tgparse]    Script Date: 24.07.2023 19:35:09 ******/
CREATE DATABASE [tgparse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tgparse', FILENAME = N'/var/opt/mssql/data/tgparse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tgparse_log', FILENAME = N'/var/opt/mssql/data/tgparse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tgparse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tgparse]
GO
/****** Object:  Table [dbo].[TGMessages]    Script Date: 24.07.2023 19:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TGMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[MId] [nvarchar](max) NOT NULL,
	[PeerId] [nvarchar](max) NOT NULL,
	[Timestamp] [nvarchar](max) NOT NULL,
	[MessageRichHTML] [nvarchar](max) NULL,
	[MediaPhotoPaths] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TGMessages] ADD  DEFAULT (newid()) FOR [Id]
GO
USE [master]
GO
